/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color:whitesmoke;
  font-size: 1em;
  line-height: 1.4;
}

body{
  background-color: #2F4454;
  background-image: url("img/camera_light.jpg");
  background-size: cover;
  
}

.no_bg{
  background-image: none;
  background-color:#2E151B;
}

.main_head{
background-color:#1C3334;
margin:0;
padding:0;
height:auto; 
display: flex;
justify-content: space-between;
}

.logotyp{
  height:80px;
  margin-top:10px;
  margin-left:20px; 
}

.wrapper{
  display: flex;
  flex-direction: column-reverse;
  justify-content:flex-end;
  background-color:#1C3334 ;
  margin:0;
  margin-right:20px;
  padding:0;
  margin-top:0px; 
  align-content: space-between;

 
}
.header_button {
  margin-top:30px;
  margin-right: 20px;
  height: 50px;
  text-decoration:None; 
  
}
.header_button,
.contact_button{
  background-color: #DA7B93;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}
.header_button:hover,
.contact_button:hover {
  background-color: #2E151B;
}
.header_button a,
.contact_button a {
  color: whitesmoke;
}
.contact_button {
  margin-bottom: 20px;
}


.header_information{
  font-size: 10px;
  color: whitesmoke;
  text-align: right;
  margin-top:30px; 
  margin-right:70px;
 
}


.topnav {
  position: relative;
  background-color: #1C3334;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #376E6F;
  color: whitesmoke;
}


.topnav a.active {
  background-color: #376E6F;
  color: white;
}


.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.index_text{
  color:black;
  text-align: center;
  margin-top: 100px; 
}

.index_h{
font-size: 52px;
}

.index_p{
  font-size: 40px;

}


.om_oss_textruta{
  color:whitesmoke;
  background-color: #2E151B;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-column: 1/4;
  display: grid;
  grid-row: auto;
  margin:10px;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
 margin-bottom: 10px;
 margin-top: 40px;
}


.om_oss_rubrik{
  font-size: 20px;
  

}

.om_oss_text{
  font-size: 15px;
  

}

.flex_container{
width:100%;
min-height: calc(100vh - 142px);
display: flex;
/*align-items: stretch;*/

}

.flex_container section{
  width:50%;
  text-align: center;
  padding: 20px;
}

#container_right{
background-color: #2E151B;
align-self: stretch;
}

.flex_container label , .flex_container input, .flex_container textarea{
  display: block;
  margin: 10px auto;
}

#container_left{
  align-self: center;
}

#container_left, #container_left a{
  color: black;
}

.portfolio_pictures{
  display: flex;
  flex-wrap: wrap;
}

.portfolio_pictures img{
  width: 50%;
}


.submit_button {
  border:none;
  background-color: #376E6F;
  padding: 5px 10px;
  color: whitesmoke;
  border-radius: 5px;
}
.submit_button:hover {
  cursor: pointer;
  background-color: #1C3334;
}
form input,
form textarea {
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

@media screen and (max-width: 600px) {
  .om_oss_textruta{
    grid-template-columns: 1fr;
  }
  .flex_container,
  .portfolio_pictures {
    flex-wrap: wrap;
  }
  .flex_container section,
  .portfolio_pictures img {
    width: 100%;
  }
}
